.main {
    text-align: center;
    font-size: 80px;
    color: rgb(93, 130, 242);
    font-family: 'Pacifico', cursive;
    background-color: black;
}

body {
    background-color: black;
}

#videoAfter {
    display: none;

}

.cake-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    /* adjust position */
}

.cake-container video {
    width: 250px;
    /* adjust size here */
    height: auto;
    object-fit: contain;
}